<%- include("partials/header.ejs") %>

<body>
    <%- include("partials/navbars.ejs") %>
    <div class="wrapper"> 
        <hr>
        <div class="container" id="formulario-resposta">
            <h1>Perguntas</h1>
            <hr>
            <a href="/perguntar" class="btn btn-primary">Perguntar</a>
            <hr>

            <!-- Adicione o campo de pesquisa -->
            <form action="/pesquisar" method="get">
                <div class="form-group">
                    <input type="text" name="q" class="form-control" placeholder="Pesquisar por pergunta" value="<%= termoPesquisa || '' %>">
                </div>
                <button type="submit" class="btn btn-primary">Pesquisar</button>
            </form>

            <% if (typeof mensagem !== 'undefined' && mensagem !== null) { %>
                <div class="alert alert-danger mt-3">
                    <%= mensagem %>
                </div>    
            <% } %>
            <hr>
            <% perguntas.forEach(pergunta => { %>
                <br>
                <div class="card">
                    <div class="card-body">
                        <h4><%= pergunta.titulo %></h4>
                    </div>       
                </div>
                <div class="card-footer">
                    <a href="/pergunta/<%= pergunta.id %>"> <button class="btn btn-primary">Responder</button> </a>
                </div>
            <% }) %>
        </div>
        <%- include("partials/footer2.ejs")%>
    </div>
</body>
<%- include("partials/footer.ejs") %>
