<%- include("partials/header.ejs")%>
<body>
    <%- include("partials/navbars")%>
    <div class="wrapper">
        <div class="container" id="formulario-resposta">
            <hr>
            <h4><%= pergunta.titulo %></h4>
            <div class="card">
                <div class="card-body">
                    <!-- Utilize unescape para converter as entidades HTML -->
                    <p><%- unescape(pergunta.descricao) %></p>
                </div>
            </div>
            
            <hr>
            <form method="post" action="/responder">
                <h3>Responder</h3>
                <div class="card-body">
                    <% if (errorMessage) {%>
                        <div class="alert alert-danger">
                            <%= errorMessage %>
                        </div>
                    <%}%>
                </div>
                <label>Resposta:</label>
                <textarea placeholder="Digite sua resposta" name="corpo" class="form-control" id="resposta"></textarea>
                <input type="hidden" name="pergunta" value="<%= pergunta.id%>">
                <br>
                <button type="submit" class="btn btn-primary">Responder</button>
            </form>
            <hr>
            <h3>Respostas</h3>
            <hr>
            <% if (respostas.length > 0) { %>
                <% respostas.forEach(resposta => { %>
                    <br>
                    <div class="card">
                        <div class="card-body">
                            <p><%- unescape(resposta.corpo) %></p>
                        </div>
                    </div>  
                <% }) %>
            <% } else { %>
                <p>Não há respostas para esta pergunta.</p>
            <% } %>
        </div>
        <%- include("partials/footer2.ejs")%>
    </div>
</body>
<%- include("partials/footer.ejs")%>

<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language: "pt_BR",
        selector: "#resposta",
        forced_root_block: false, // Desabilita a inserção automática de tags <p>
        plugins:[
        "preview",
        "advlist",
        "autolink",
        "link",
        "image",
        "lists",
        "print",
        "hr",
        "searchreplace",
        "wordcount",
        "fullscreen",
        "insertdatetime",
        "media",
        "save",
        "table",
        "paste",
        "emoticons",
        "code",   
        ]
    });
</script>